.DS_Store
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
build/
DerivedData/
*.ipa
*.xcarchive
xcode_build.log
expo-camera-app/
OPTIMIZE_LAPTOP.bat
optimize.ps1
kali-linux-2026.2-virtualbox-amd64/
scratch_kapi/
*.ps1
